<div class="forms-container">
  <!-- Form 1 -->
  <div class="form-container">
    <h2>Sign Up</h2>
    <hr>
    <mat-form-field>
      <input matInput placeholder="username">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="email">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="password">
    </mat-form-field>

    <button mat-raised-button color="primary">Sign Up</button>
  </div>

  <!-- Form 2 -->
  <div class="form-container">
    <h2>Log In</h2>
    <hr>
    <mat-form-field>
      <input matInput placeholder="username">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="password">
    </mat-form-field>

    <button mat-raised-button color="primary" routerLink="/login">Log In</button>
  </div>
</div>



